$green: #5aac44;

@import '~bootstrap/scss/bootstrap';

$box-showdow-offset-x: rgba(41, 38, 38, 0.1);

body {
  min-height: 100vh;
  background: linear-gradient(203deg, #edeaff 0%, #efecff 50%, #f9f8ff 100%);
  @media screen and (min-width: 320px) and (max-width: 480px) {
    background: #ffffff;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  background-color: #fafbfc;
  border: 2px solid #dfe1e6;
  box-sizing: border-box;
}

.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
  background-color: #fafbfc;
}

.signup-card {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 35px 40px;
  box-shadow: $box-showdow-offset-x 0 0 10px;
  .pg-btn {
    background-color: $green;
    color: #ffffff;
    width: 100%;
    margin-top: 0.25rem;
  }
}

.btn-primary {
  border: none !important;
}

.btn-primary:disabled,
.btn-primary.disabled {
  background-color: #e2e4e6;
  color: hsl(0, 0%, 55%);
  border: none !important;
}

.btn-primary:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
