.header {
  display: flex !important;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1002;
  width: 100%;
  height: 70px;
  background-color: #fff !important;
  align-items: center !important;

  .title {
    color: #fff !important;
    font-size: 1.5rem;
    margin-right: auto;
  }

  .logo {
    width: 70px;
  }

  .profile-image {
    img {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      @media screen and (max-width: 768px) {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}
