.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.loader {
  width: 300px;
  height: 300px;

  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: 150px;
    height: 150px;
  }
}

.loader div {
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  border: 2px solid
    linear-gradient(203deg, #edeaff 0%, #efecff 50%, #f9f8ff 100%);
  border-top: 2px solid crimson;
  border-radius: 50%;
  animation: rotate 10s linear infinite alternate-reverse;

  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: calc(100% - 10px);
  height: calc(100% - 10px);
  }
}

@keyframes rotate {
  50% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
